body {
	background: hsla(146, 62%, 95%, 1);
	font-family: 'Lucida Console', Monaco, monospace;
	font-size: 1.5rem;
	text-align: center;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: 100px 400px 1fr;
}

#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.deckIcon {
	background: green;
	display: block;
	margin: 2px;
	border: 2px solid lightgrey;
}

.learnButton {
	background: green;
	display: block;
	width: 400px;
	margin: 1px auto;
	border: 2px solid lightgrey;
}
.editButton {
	background: tan;
	display: block;
	width: 400px;
	margin: 1px auto;
	border: 2px solid lightgrey;
}
.resetButton {
	background: red;
	display: block;
	width: 400px;
	margin: 1px auto;
	border: 2px solid lightgrey;
}

.deleteButton {
	background: black;
	color: red;
	display: block;
	width: 400px;
	margin: 1px auto;
	border: 2px solid red;
}

.inputDeckName {
	font-size: 40px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alterButton {
	background: orange;
	display: block;
	width: 400px;
	margin: 1px auto;
	border: 2px solid lightgrey;
}
body * {
	background: lightgrey;
	border: 1px solid lightslategrey;
}

.deckView {
	background: yellow;
	margin: 5px auto;
	width: 450px;
	height: 70%;
}

.deckTest {
	background: red;
	margin: 10px auto;
	width: 450px;
	height: 90%;
}

.deckEdit {
	background: blue;
	margin: 10px auto;
	width: 450px;
	height: 600px;
}
.deckAlter {
	background: black;
	margin: 10px auto;
	width: 920px;
	height: 600px;
}
.alterCard {
	background: black;
	margin: 10px auto;
	width: 450px;
	height: 550px;
	display: inline-block;
}
.alterList {
	background: black;
	margin: 10px auto;
	width: 450px;
	height: 550px;
	display: inline-block;
}
#scrollbox {
	overflow: scroll;
	font-size: 20px;
	width: 400px;
	height: 500px;
}

.testCardFront {
	background: white;
	margin: 10px auto;
	width: 90%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.testCardBack {
	background: white;
	margin: 10px auto;
	width: 90%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.alterCardFront {
	background: white;
	margin: 10px auto;
	width: 90%;
	height: 40%;
	font-size: 20px;
	text-align: center;
}

.alterCardBack {
	background: white;
	margin: 10px auto;
	width: 90%;
	height: 40%;
	font-size: 20px;
	text-align: center;
}

.testCardSecretFront {
	background: #aaaaaa;
	margin: 10px auto;
	width: 90%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.testCardSecretBack {
	background: #aaaaaa;
	margin: 10px auto;
	width: 90%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.newDeck {
	display: flex;
	color: white;
	align-items: center;
	background: blue;
	display: block;
	margin: 2px;
	border: 2px solid lightgrey;
}

.minimize {
	grid-template-rows: 100px 28px 1fr;
}

.testResponseButton {
	width: 50px;
	margin: 5px;
	color: white;
	background: blue;
	display: inline-block;
}

.alterScoreButton {
	width: 50px;
	margin: 5px;
	color: white;
	background: blue;
	display: inline-block;
}

.testRevealButton {
	width: 250px;
	margin: 5px;
	color: white;
	background: blue;
	display: inline-block;
}

.newButton {
	width: 250px;
	margin: 5px;
	color: white;
	background: orange;
	display: inline-block;
}

.toggleDeckShow {
	width: 100px;
	margin: 5px;
	background: green;
	display: inline-block;
	border: 2px solid lightgrey;
}

.shuffleScore {
	display: inline-block;
}

.dropButton {
	background-color: #3498db;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdButton-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.show {
	display: block;
}

.dropButton-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.toggleShuffle {
	width: 75px;
	margin: 5px;
	background: green;
	display: inline-block;
	border: 2px solid lightgrey;
}

.toggleShowSelected {
	border: 2px solid blue;
	background: lightblue;
}

.hidden {
	display: none;
}

@media (min-width: 600px) {
	body {
		grid-template-columns: 1fr 5fr;
		grid-template-rows: 100px 1fr 0;
	}
	.header {
		grid-column: 1 / span 2;
	}
	.minimize {
		grid-template-columns: 40px 5fr;
		grid-template-rows: 100px 1fr 0;
	}
}
